---
import { inject } from "@vercel/analytics";
// import Footer from "../components/Footer.astro";
// import Topnav from "../components/topnav/Topnav.astro";

inject();

export interface Props {
    title: string;
    description: string;
    url: string;
}

const { title, description, url } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/favicons/apple-touch-icon.png?v=2"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicons/favicon-32x32.png?v=2"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicons/favicon-16x16.png?v=2"
        />
        <link rel="manifest" href="/favicons/site.webmanifest?v=2" />
        <link
            rel="mask-icon"
            href="/favicons/safari-pinned-tab.svg?v=2"
            color="#ffb13d"
        />
        <link rel="shortcut icon" href="/favicons/favicon.ico?v=2" />
        <meta name="msapplication-TileColor" content="#ffb13d" />
        <meta
            name="msapplication-config"
            content="/favicons/browserconfig.xml?v=2"
        />
        <meta name="theme-color" content="#ffb13d" />

        <meta name="generator" content={Astro.generator} />

        <title>{title}</title>
        <meta name="description" content={description} />
        <meta name="author" content="Nyx Iskandar" />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content="https://nexliber.com/og-image.png" />
        <meta property="og:url" content={`https://nexliber.com${url}`} />
        <meta property="og:type" content="website" />
    </head>

    <body>
        <main>
            <!-- <Topnav /> -->
            <slot />
            <!-- <Footer /> -->
        </main>
    </body>
</html>

<style>
    main {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

    :root,
    body[data-theme="light"] {
        --color-bg: #fff;
        --color-bg-box: #000;
        --color-text: #111827;
        --color-text-dim: #111827a0;
        --color-text-box: #e3e3e3;
        --color-toggle: #15232d;
        --color-shadow: #0000004a;
        --color-blur: #ffffffaa;
        --color-blur-border: #0000004d;
        --color-faq-bubble: #f0f0f0;
        --shadow: 0 0 5px 2px var(--color-shadow);
        --shadow-hover: 0 0 10px 4px var(--color-shadow);
    }

    body[data-theme="dark"] {
        --color-bg: #000;
        --color-bg-box: #232324;
        --color-text: #e3e3e3;
        --color-text-dim: #e3e3e3a0;
        --color-text-box: #e3e3e3;
        --color-toggle: #ffb13d;
        --color-shadow: #ffb13d;
        --color-blur: #000000aa;
        --color-blur-border: #ffffff4d;
        --color-faq-bubble: #232324;
        --shadow: 0 0 5px 2px var(--color-shadow);
        --shadow-hover: 0 0 10px 4px var(--color-shadow);
    }

    html,
    body {
        padding: 0;
        margin: 0;
        font-family: "Inter", sans-serif;
        background-color: var(--color-bg);
        color: var(--color-text);
        overflow-x: hidden;
        scroll-behavior: smooth;
        transition: background-color 0.25s ease-in-out;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    * {
        box-sizing: border-box;
    }
</style>
